.content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 90%;
    padding-left: 10%
}

.content div
{
    margin-top: 2%;
}

.right-content
{
    padding-right: 15%;
    margin-left: 2%
}

h2
{
    font-size: 32px;
}

h3
{
    margin-top: 8%;
    font-size: 22px;
}

.gear-desc
{
    display: flex;
    flex-direction: row;
}

.gear-desc p
{
    font-size: 18px;
    line-height: 30px;
}

.gear-desc img
{
    width: 400px
}

@media only screen and (max-width: 800px)
{
    .gear-desc
    {
        display: flex;
        flex-direction: column;
    }
}
