.image-gallery {
    display: flexbox;
    flex-wrap: wrap; /* Allow items to wrap onto new lines */
    gap: 3px; /* Space between images */
    flex-direction: row;
}

figure {
    flex: 1 0 auto; /* Grow and shrink as needed, base size is auto */
    margin: 2%; /* Optional: Adds some spacing around each figure */
}

img {
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Maintain aspect ratio */
}

html
{
    width: 100%;
    height: 100%;
}

body
{
    min-height: 100vh;
}

.flexContainer
{
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.left-column
{
    flex-basis:10%;
    border-style: none solid none none;
}

h1
{
    font-size: 5vw;
    padding-right: 3vw;
}

#heading
{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 5%;
}

.name
{
    padding-bottom: 2%;
}

.socialIcons
{
    width: 20%;
}

.right-column
{
    flex-basis: 90%;
}

#photoContainer
{
    padding-left: 2%;
}

#photoContainer img
{
    display: flex;
    width: 32%;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

@media only screen and (max-width: 800px)
{
    .flexContainer
    {
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }

    .left-column
    {
        flex-basis:5%;
        border-style: none none none none;
    }

    #heading
    {
        padding-left: 2.5%;
        padding-bottom: 5%;
        padding-right: 5%;
    }

    h1
    {
        font-size: 6.5vw;
    }

    .name
    {
        padding-bottom: 0%;
    }

    .socialIcons
    {
        width: 5%;
    }

    #photoContainer img
    {
        width: 85vw;
        padding: 0.5% 0.5% 0.5% 0.5%;
    }
}
