.image-gallery {
    display: flexbox;
    flex-wrap: wrap; /* Allow items to wrap onto new lines */
    gap: 3px; /* Space between images */
    flex-direction: row;
}

figure {
    flex: 1 0 auto; /* Grow and shrink as needed, base size is auto */
    margin: 2%; /* Optional: Adds some spacing around each figure */
}

img {
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Maintain aspect ratio */
}

.right-column
{
    flex-basis: 90%;
}

#photoContainer img
{
    display: flex;
    width: 32%;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

@media only screen and (max-width: 800px)
{
    #image-gallery img
    {
        width: 85vw;
        padding: 0.5% 0.5% 0.5% 0.5%;
    }
}
