<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="flexContainer">
        <div class="left-column" class="flexChild">
            <div id="heading">
                <h1 class="name">JSDale Takes Photos</h1>
                <a href="https://www.instagram.com/jsd.takes.photos/" class="social"><img class="socialIcons" src="icons/Instagram_icon.png"/></a>
                <div class="nav">
                    <a href="/" class="active">Home</a>
                    <a href="/gear">My Gear</a>
                    <a href="/2023">2023 Archive</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>