<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/gear.css">
    <title>JSD.Takes.Photos.Gear</title>
</head>
<body>
    <div class="flexContainer">
        <div class="left-column" class="flexChild">
            <div id="heading">
                <h1 class="name">JSDale Takes Photos</h1>
                <a href="https://www.instagram.com/jsd.takes.photos/" class="social"><img class="socialIcons" src="icons/Instagram_icon.png"/></a>
                <div class="nav">
                    <a href="/">Home</a>
                    <a href="/gear" class="active">My Gear</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div>
                <h2> Camera Bodies </h2>
                <h3> Cannon 80D </h3>
                <div class="gear-desc">
                    <img src="/photos/gear/80d-body.jpeg"/>
                    <p class="right-content">
                        This is the second Cannon body I have owned, the first being an EOS1300D, I often refer to this body my "main" camera.
                        The majority of photos on this site will have been taken with the 80D. It's the camera that really sparked my interest in photography.
                        It is effortless to produce great photos, even if it is a little bulkier than other bodies out there. It is an APS-C sensor, but doesn't restrict
                        me as I don't find myself cropping often.
                    </p>
                </div>
                <h3> Nikon 1 V1 </h3>
                <div class="gear-desc">
                    <p>
                        This is the first mirrorless camera I have owned. It was a snap decision purchase from <a href="mpb.com">mpb.com</a>, the same place I bought the 80D from.
                        The general consensus of this body in the photography world is that it was a failure. However, I find it a great little body to shove in a bag if I am going out
                        anywhere there might be photo opportunities but is not the main objective. The lack of manual operation can be slightly frustrating, but on a whole I enjoy using it.
                        The image quality holds up well for a body first released in 2011, in my opinion.
                    </p>
                    <img src="/photos/gear/nikon1v1.png" class="right-content"/>
                </div>
            </div>
            <div>
                <h2> Lenses </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, pariatur tempore? Maxime impedit distinctio, repellat labore non exercitationem inventore eaque, deleniti fuga provident saepe laborum tempora culpa, modi consectetur est!</p>
            </div>
            <div>
                <h2> Accessories </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, pariatur tempore? Maxime impedit distinctio, repellat labore non exercitationem inventore eaque, deleniti fuga provident saepe laborum tempora culpa, modi consectetur est!</p>
            </div>
        </div>
    </div>
</body>
</html>