<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="scripts/main.js"></script>
    <title>JSDale Takes Photos</title>
</head>
<body onload="displayPhotos()">
    <div class="flexContainer">
        <div class="left-column" class="flexChild">
            <div id="heading">
                <h1 class="name">JSDale Takes Photos</h1>
                <a href="https://www.instagram.com/jsd.takes.photos/" class="social"><img class="socialIcons" src="icons/Instagram_icon.png"/></a>
                <div class="nav">
                    <a href="jsdale.taskes.photos/index.html" class="active">Home</a>
                    <a href="jsdale.taskes.photos/gear.html">My Gear</a>
                </div>
            </div>
        </div>
        <div class="image-gallery" id="column1">

        </div>
        <div class="image-gallery" id="column2">

        </div>
    </div>
</body>
</html>