<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/home.css">
    <title>JSDale Takes Photos</title>
</head>
<body>
    <div class="flexContainer">
        <div class="left-column" class="flexChild">
            <div id="heading">
                <h1 class="name">JSDale Takes Photos</h1>
                <a href="https://www.instagram.com/jsd.takes.photos/" class="social"><img class="socialIcons" src="icons/Instagram_icon.png"/></a>
                <div class="nav">
                    <a href="/" class="active">Home</a>
                    <a href="/gear">My Gear</a>
                </div>
            </div>
        </div>
        <div class="image-gallery" id="column1">

        </div>
        <div class="image-gallery" id="column2">

        </div>
    </div>

    <script>
        function displayPhotos(imageLocationsJson)
        {
            var imageLocations = JSON.Parse(imageLocationsJson);
            console.log('Entered display function');
            var containerOne = document.getElementById("column1");
            var containerTwo = document.getElementById("column2");
            containerOne.innerHTML = "";
            containerTwo.innerHTML = "";

            var isColumnOne = true;
            for (var i = 0; i < imageLocations.length; i++)
            {
                col = containerTwo;
                if (isColumnOne)
                {
                    col = containerOne;
                }
                var imageElement = CreateImage(imageLocations[i]);
                col.appendChild(imageElement);
                isColumnOne = !isColumnOne;
            }
        }

        function CreateImage(filepath)
        {
            try
            {
                var imageSrc = filepath;
                console.log(filepath);
                var imgElement = document.createElement("img");
                imgElement.style.display = 'flex'
                imgElement.style.flexWrap = 'no-wrap'
                imgElement.oncontextmenu = function(){return false};
                imgElement.src = imageSrc;
                var figure = document.createElement('figure');
                figure.appendChild(imgElement);
                return figure;
            }
            catch(error)
            {
                console.log(error.message);
            }
        }

        document.addEventListener('DOMContentLoaded', function()
        {
            console.log("loading pictures");
            const json = <%= JSON.stringify(imageLocations) %>
            console.log(json);
            displayPhotos(json);
        });
    </script>
</body>
</html>